<% @infos.each do |info| %>
  <%- if info.info_type == "link" -%>
    <a href="<%= info.value %>"><%=info.name%></a><BR /><BR />
  <%- elsif info.info_type == "string" -%>
    <%= info.name %>:<%= info.value %><BR /><BR />
  <%- elsif info.info_type == "link" -%>
  <%- elsif info.info_type == "link" -%>
  <%- elsif info.info_type == "link" -%>
  <%- elsif info.info_type == "link" -%>
  <%- elsif info.info_type == "link" -%>
  <%- elsif info.info_type == "link" -%>
  <%- end %>
<% end %>

