// Place all the styles related to the ui_test controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#menu {
   width:100%;
   border:2px;
   border-color:#333333;
   border-style:solid;
}

#forms {
   float:left;
   width:49%;
   border:2px;
   border-color:#333333;
   border-style:solid;
}

#infos {
  float:right;
  width:49%;
  border:2px;
  border-color:#333333;
  border-style:solid;
}

#footer {
   width:100%;
   border:2px;
   border-color:#333333;
   border-style:solid;
}

